---
layout: default
---



{% assign current = site.data.board[page.model].current %}
{% assign archive = site.data.board[page.model].archived %}

{{ content }}
{% if page.board_image %}
    <img src="{{ page.board_image | absolute_url }}" fetchpriority="high" alt="An image of the {{page.title}}" style="display: block; max-height: 400px; max-width: 500px">
{% endif %}
<h2>Latest Version</h2>


<table>
    <tbody>
        {% for item in current %}
        <tr>
            <td>
                {% if item.url %}
                    <a href="{{ item.url }}" target="_blank">{{ item.name | markdownify | remove: "<p>" | remove: "</p>" }}</a>
                {% else %}
                    {{ item.name | markdownify | remove: "<p>" | remove: "</p>" }} <em>(Unavailable)</em>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Archive</h2>


<table>
    <tbody>
        {% for item in archive %}
        <tr>
            <td>
                {% if item.url %}
                    <a href="{{ item.url }}" target="_blank">{{ item.name | markdownify | remove: "<p>" | remove: "</p>" }}</a>
                {% else %}
                    {{ item.name | markdownify | remove: "<p>" | remove: "</p>" }} <em>(Unavailable)</em>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
